.category-card-content {
  position: absolute;
  width: 200px;
  height: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  background: #f5f5f5;
  user-select: none;
  z-index: 1;
  bottom: 0;

  .category-card-img {
    width: 100px;
    height: 100px;
  }

  &:active {
    transform: scale(0.9);
    animation-duration: 0.5s;
  }

  &:hover {
    bottom: 50px;
    z-index: 10;
    transition: 0.5s;
  }

  &:not(hover) {
    bottom: 0;
    transition: 0.5s;
  }
}
