<div class="home-content flex-col">
  <div class="toggle-language-content" *ngIf="langFormControl && langFormControl.valid">
    <mat-form-field appearance="outline">
      <mat-label>Lang</mat-label>
      <mat-select [formControl]="langFormControl">
        <mat-option *ngFor="let lang of langs" [value]="lang" [routerLink]="'/' + lang">{{lang}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="categories-content flex-row-center">
    <ng-container *ngTemplateOutlet="categories.length?  categories_template : loading "></ng-container>
  </div>
  <div class="searcher-content">
    <app-searcher
      [searchControl]="searchControl"
      (onSearchChanged)="onSearchChanged($event)"
    ></app-searcher>
  </div>
  <br>
  <div class="games-list-content flex-row-center">
    <ng-container *ngTemplateOutlet="games?.length?  games_template : loading "></ng-container>
  </div>
  <div class="footer flex-col">
    <div class="general-info">
      <div class="general">
        <h2>General info</h2>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Dolor doloremque esse fugit harum hic, illum impedit minima mollitia nulla porro, quas recusandae?
        </span>
      </div>
      <div class="best-off">
        <h2>Best Of</h2>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
          beatae delectus magnam molestiae omnis quam sapiente sit voluptatibus!
        </span>
      </div>
      <div class="privacy">
        <h2>Privacy & Policy</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A earum facilis fugiat minima, quam saepe.
        </span>
      </div>
      <div class="footer-image">
        <img src="assets/images/footer-img.jpg" alt="ERROR">
      </div>
    </div>
    <br>
    <mat-divider class="divider"></mat-divider>
    <br>
    <div class="additional-info">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, id totam. Fugit non
        quidem rerum sapiente? Consequatur corporis, quae. Aperiam architecto doloremque, ex iste nostrum tenetur
        vel velit! Ea fuga nemo nihil nostrum repellat sit tempore voluptate.<br><br>

        Ab accusamus ad alias corporis cumdelectus, deleniti, distinctio dolores ea eaque enim eos expedita fuga fugiat,
        illo illum incidunt iustonihil nisi nostrum odio odit quas quis rerum saepe soluta suscipit voluptatem!<br><br>

        Corporis dolores error magnam mollitia nostrum! Ab, amet assumenda cum explicabo, labore laboriosam molestias
        mollitia neque nobis nostrumnumquam pariatur quas quia rem repellat sapiente similique sit ut voluptate
        voluptatum.<br><br>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda beatae cumque dolor dolore ea eius est
        eum in magnam magni molestiae nam nihil nobis nostrum numquam, odio pariatur quaerat quam quas quibusdam quos
        recusandae rem sapiente vero. Alias autem commodi eaque expedita fuga illum incidunt inventore rerum sed
        voluptatum. Autem cum cupiditate dolorem et facilis fugiat nemo nobis odio?
      </span>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #categories_template>
  <div class="categories-content flex-row-center">
    <app-category-card *ngFor="let category of categories; let i = index"
                       [data]="category"
                       [widthIndex]="i"
                       (onSelectedCategory)="onSelectedCategory($event)"
    ></app-category-card>
  </div>
</ng-template>

<ng-template #games_template>
  <div class="games-list-content flex-row-center" >
    <app-game-card *ngFor="let game of games"
      [data]="game"
    ></app-game-card>
  </div>
</ng-template>
